

/*----------------------------------------
            Header Starts
----------------------------------------*/
#logo_img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

#logo_name {
    font-size: 34px;
    margin-left: 10px;
}

.nav-link {
    font-weight: 600;
    color: black !important;
    padding: 10px 15px;
}

.nav-link:hover, .nav-link.active {
    color: #76C4D8 !important;
    background-color: #f8f9fa !important;
    border-radius: 5px;
}

#login_btn {
    width: auto;
    height: 40px;
    border-radius: 4px;
    margin: 5px;
    background-color: #75c4d8;
    border: none;
    color: white;
    margin-left: 100px;
}

#login_btn:hover {
    background-color: #30abee;
    color: white;
}

/*----------------------------------------
            Header ends
----------------------------------------*/

/*----------------------------------------
            Footer Start
----------------------------------------*/
footer {
    background-color: #24373E;
    color: #ffffff;
    padding: 20px 0;
}

footer #logo_name {
    color: #ffffff !important;
}

footer a {
    color: #CECACA;
}

footer a:hover {
    color: #76C4D8;
}

#copy_info {
    color: #CECACA;
    margin-top: 20px;
}
.foot_adds
{
    
    padding-top: 34px;
}


footer .container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start; 
    justify-content: space-between;
}

footer .col-md-3 {
    flex: 1;
    min-width: 200px; 
    margin-bottom: 20px; 
}

footer .navbar-brand,
footer .col-md-3 h2 {
    margin-bottom: 15px;
}


/*----------------------------------------
            Footer ends
----------------------------------------*/
